<div class="row">
  <div class="col-lg-12">
    <%= question.prompt.html_safe %>
    <span>
      <%= "(#{taken_quiz.answers.count + 1}/#{taken_quiz.quiz.questions.count})" %>
    </span>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <%= form_for taken_quiz, html: {id: 'answer-form'}, data: {remote: true} do |f| %>

        <%= f.fields_for :answer do |answer_fields| %>
            <%= answer_fields.hidden_field :question_id, value: question.id %>

            <% question.choices.each do |choice| %>
                <div class="radio" id="choice-<%= choice.id %>">
                  <label>
                    <%= answer_fields.radio_button :choice_id, choice.id, id: "choice-#{choice.id}-radio", class: 'choice-radio' %>
                    <%= choice.statement.html_safe %>
                  </label>
                </div>
            <% end %>
        <% end %>

        <%= f.submit question.last? ? 'Finish' : 'Next', id: 'submit-question', class: 'btn btn-success center-block', disabled: true %>
    <% end %>
  </div>
</div>
